<header>
  <div class="container-fluid">
    <nav id="navbar" class="navbar fixed-top">
      <a class="navbar-brand" href="#"><img src="myicon.ico"></a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-me">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">Studies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiences">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#rewards">Rewards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
