@import "src/variables"

footer
  background: $block_color
  color: black
  padding: 10px
  font-family: Roboto, serif
  font-size: small
  display: flex inline
  text-align: center
  margin: auto

.footer
  display: flex inline
  align-items: center
  justify-items: center
  justify-content: center
  align-content: center
  padding: 10px
  background-color: #D34A6D
  color: #fff
  font-family: Roboto, serif

i
  font-size: small

span
  font-style: italic
  font-weight: bold
