<section  id="experiences">
  <app-title [title]="title"></app-title>
  <div class="section-content">
    <div class="row row-cols-2">
      <div class="col-6">
        <div class="row row-cols-1">
          <div class="col-12 experience-node left-line">
            <app-timeline-date [rightAligned]="false" date="MAR 2021"></app-timeline-date>
            <div class="expand-node">
              <app-timeline-node
                [isWork]="true"
                subject="Volunteer Project – Knowledge Assessment System (KAS) for Tertiary and
Vocational Education Commission (TVEC) - Business Analyst _ Developer"
                institute="Information & Communication Technology Agency (ICTA) of Sri Lanka"></app-timeline-node>
            </div>
          </div>
          <div class="col-12 experience-node left-line">
            <app-timeline-date [rightAligned]="false" date="FEB 2021"></app-timeline-date>
            <div class="expand-node">
              <app-timeline-node
                [isWork]="true"
                subject="Industrial Training Program - Direct Entry Program (DEP)"
                duration="6 months" institute="Institute of Java & Software Engineering (IJSE)"></app-timeline-node>
            </div>
            <app-timeline-date [rightAligned]="false" date="SEP 2020"></app-timeline-date>
          </div>
          <div class="col-12 experience-node left-line">
            <app-timeline-date [rightAligned]="false" date="AUG 2020"></app-timeline-date>
            <div class="expand-node">
              <app-timeline-node
                [isWork]="true"
                subject="Coordinator – Product Integrator – Business Analyst + Developer"
                duration="1 year 3 months" institute="Dialog Axiata PLC, Colombo 02, Sri Lanka"></app-timeline-node>
            </div>
            <app-timeline-date [rightAligned]="false" date="JUN 2019"></app-timeline-date>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row row-cols-1">
          <div class="col-12 experience-node left-line">
            <app-timeline-date [rightAligned]="false" date="MAY 2019"></app-timeline-date>
            <div class="expand-node">
              <app-timeline-node
                [isWork]="true"
                subject="Executive – Developer"
                duration="2 years 3 months" institute="Dialog Axiata PLC, Colombo 02, Sri Lanka"></app-timeline-node>
            </div>
            <app-timeline-date [rightAligned]="false" date="FEB 2017"></app-timeline-date>
          </div>
          <div class="col-12 experience-node left-line">
            <app-timeline-date [rightAligned]="false" date="AUG 2015"></app-timeline-date>
            <div class="expand-node">
              <app-timeline-node
                [isWork]="true"
                subject="In Plant Training"
                duration="6 months" institute="Brown & Company PLC, Colombo 03, Sri Lanka"
                description="Gained hands on experience with repairing electronic devices like
TV(LED/Analog), Fax machines, Cash counters, device circuits etc."></app-timeline-node>
            </div>
            <app-timeline-date [rightAligned]="false" date="MAR 2015"></app-timeline-date>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-title title="Honours & Rewards"></app-title>
  <div class="section-content">
      <div class="row row-cols-3 gx-5">
        <div class="col-4 honors-node left-line">
          <app-timeline-date [rightAligned]="false" date="FEB 2019"></app-timeline-date>
          <div class="">
            <app-timeline-node
              [isHonor]="true"
              subject="DIALOG AWARDS 2018 - PRODUCTOF THE FUTURE"
              institute="Dialog Axiata PLC, Colombo 02, Sri Lanka"
              description="Rewarded with GOLD AWARD for the IoT
Smart Meter Management System."></app-timeline-node>
          </div>
        </div>
        <div class="col-4 honors-node left-line">
          <app-timeline-date [rightAligned]="false" date="FEB 2019"></app-timeline-date>
          <div class="">
            <app-timeline-node
              [isHonor]="true"
              subject="DIALOG - SERVICE FROM HEART"
              institute="Dialog Axiata PLC, Colombo 02, Sri Lanka"
              description="Rewarded for the exceptional effort in
delivering service from the heart to the
customers of Dialog Enterprise."></app-timeline-node>
          </div>
        </div>
        <div class="col-4 honors-node left-line">
          <app-timeline-date [rightAligned]="false" date="FEB 2019"></app-timeline-date>
          <div class="">
            <app-timeline-node
              [isHonor]="true"
              subject="DIALOG ENTERPRISE – BRAVO AWARDS – 2018"
              institute="Dialog Axiata PLC, Colombo 02, Sri Lanka"
              description="Rewarded for outstanding performance
and dedication."></app-timeline-node>
          </div>
        </div>
    </div>
  </div>
</section>
