<section  id="experiences">
  <app-title [title]="title"></app-title>
  <div class="section-content">
    <div class="row row-cols-2">
      <div class="col-6">
        <div class="row row-cols-1">
          <div class="col-12 experience-node left-line">
            <app-timeline-date [rightAligned]="false" date="MAR 2021"></app-timeline-date>
            <div class="expand-node">
              <app-timeline-node
                [isWork]="true"
                subject="Volunteer Project – Knowledge Assessment System (KAS) for Tertiary and
                Vocational Education Commission (TVEC) - Business Analyst"
                institute="Information & Communication Technology Agency (ICTA) of Sri Lanka"
                description="Here I could work with a different team and happily contribute my skills & knowledge voluntarily
                as Business Analyst to develop an online exam platform for the NVQ Level-4 certifications."></app-timeline-node>
            </div>
          </div>
          <div class="col-12 experience-node left-line">
            <app-timeline-date [rightAligned]="false" date="FEB 2021"></app-timeline-date>
            <div class="expand-node">
              <app-timeline-node
                [isWork]="true"
                subject="Industrial Training Program - Direct Entry Program (DEP)"
                duration="6 months" institute="Institute of Java & Software Engineering (IJSE)"
                description="Here I studied & practised latest enterprise application developing technologies like
                JEE, Spring, Hibernate, Spring, Angular, Node, React Native, OAuth2 and many more. Within the duration I could further
                enhance my knowledge on new technologies and gained more confidence on developing enterprise applications."></app-timeline-node>
            </div>
            <app-timeline-date [rightAligned]="false" date="SEP 2020"></app-timeline-date>
          </div>
          <div class="col-12 experience-node left-line">
            <app-timeline-date [rightAligned]="false" date="AUG 2020"></app-timeline-date>
            <div class="expand-node">
              <app-timeline-node
                [isWork]="true"
                subject="Coordinator – Product Integrator – Business Analyst"
                duration="1 year 3 months" institute="Dialog Axiata PLC"
                description="Worked with the team with agile practise to initiate, design, build and implement
                Dialog Enterprise IoT solutions - IoT Smart Meter Management System, IoT Smart ATM Solution."></app-timeline-node>
            </div>
            <app-timeline-date [rightAligned]="false" date="JUN 2019"></app-timeline-date>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row row-cols-1">
          <div class="col-12 experience-node left-line">
            <app-timeline-date [rightAligned]="false" date="MAY 2019"></app-timeline-date>
            <div class="expand-node">
              <app-timeline-node
                [isWork]="true"
                subject="Executive – Developer"
                duration="2 years 3 months" institute="Dialog Axiata PLC"
                description="Worked with team to implement, integrate Dialog enterprise solutions while enhancing the solutions.
                I worked to revamp the Visitor Management System (PHP web application) which handles the visitors of the staff members.
                "></app-timeline-node>
            </div>
            <app-timeline-date [rightAligned]="false" date="FEB 2017"></app-timeline-date>
          </div>
          <div class="col-12 experience-node left-line">
            <app-timeline-date [rightAligned]="false" date="AUG 2015"></app-timeline-date>
            <div class="expand-node">
              <app-timeline-node
                [isWork]="true"
                subject="In Plant Training"
                duration="6 months" institute="Brown & Company PLC"
                description="Gained hands on experience with repairing electronic devices like
                TV(LED/Analog), Fax machines, Cash counters, device circuits etc. During the training period I could
                learn further about applications of electronics and electrical technologies."></app-timeline-node>
            </div>
            <app-timeline-date [rightAligned]="false" date="MAR 2015"></app-timeline-date>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
