<section id="skills">
  <app-title [title]="title"></app-title>
  <div class="section-content">
    <div class="row row-cols-2">
      <div class="col-4 ">
        <div class="row row-cols-1 " style="background-color: #F5F5F5">
          <div class="row row-cols-3 ">
            <div class="col-4 skill">
              <app-skill img="../assets/java.png" skill="java"></app-skill>
            </div>
            <div class="col-4 skill-title border">Programming Languages</div>
            <div class="col-4 skill">
              <app-skill img="../assets/sql.png" skill="SQL"></app-skill>
            </div>
          </div>
          <div class="row row-cols-3">
            <div class="col-4 skill">
              <app-skill img="../assets/php.png" skill="PHP"></app-skill>
            </div>
            <div class="col-4" skill>
              <app-skill img="../assets/ecmascript.png" skill="ECMAScript"></app-skill>
            </div>
            <div class="col-4">
              <app-skill img="../assets/typescript.png" skill="TypeScript"></app-skill>
            </div>
          </div>
          <div class="row row-cols-3">
            <div class="col-4 skill">
              <app-skill img="../assets/css.svg" skill="CSS"></app-skill>
            </div>
            <div class="col-4 skill">
              <app-skill img="../assets/html.png" skill="HTML"></app-skill>
            </div>
            <div class="col-4 skill">
              <app-skill img="../assets/sass.png" skill="SASS"></app-skill>
            </div>
          </div>
          <div class="row row-cols-2">
            <div class="col-6 skill">
              <app-skill img="../assets/json.png" skill="JSON"></app-skill>
            </div>
            <div class="col-6 skill">
              <app-skill img="../assets/xml.jpg" skill="XML"></app-skill>
            </div>
          </div>
        </div>

        <div class="row row-cols-1">
          <div class="row row-cols-1 skill">
            <div class="col-12 skill-title">IDEs</div>
          </div>
          <div class="row row-cols-3">
            <div class="col-4 skill">
              <app-skill img="../assets/intellij-idea.png" skill="IntelliIDEA"></app-skill>
            </div>
            <div class="col-4 skill">
              <app-skill img="../assets/vscode.png" skill="VSCode"></app-skill>
            </div>
            <div class="col-4 skill">
              <app-skill img="../assets/netbeans.png" skill="Netbeans"></app-skill>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row row-cols-1" style="background-color: #E0E0E0">
          <div class="row row-cols-5">
            <div class="col-2 skill">
              <app-skill img="../assets/spring.svg" skill="Spring"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/spring-boot.png" skill="Spring Boot"></app-skill>
            </div>
            <div class="col-4 skill-title">Tech Stack</div>
            <div class="col-2 skill">
              <app-skill img="../assets/hibernate.png" skill="Hibernate"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/mysql.png" skill="MySQL"></app-skill>
            </div>
          </div>
          <div class="row row-cols-5">
            <div class="col-2 skill">
              <app-skill img="../assets/javase.png" skill="Java SE/JEE/JavaFX"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/maven.png" skill="Maven"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/gradle.svg" skill="Gradle"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/phpmyadmin.png" skill="PHPMyAdmin"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/MySQLWorkbench.png" skill="MySQL Workbench"></app-skill>
            </div>
          </div>
          <div class="row row-cols-5">
            <div class="col-2 skill">
              <app-skill img="../assets/ajax.png" skill="AJAX"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/rest.png" skill="REST"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/oauth2.png" skill="OAuth2"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/jwt.svg" skill="JWT"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/openid-connect.svg" skill="OpenID Connect"></app-skill>
            </div>
          </div>
          <div class="row row-cols-5">
            <div class="col-2 skill">
              <app-skill img="../assets/jquery.png" skill="jQuery"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/bootstrap.svg" skill="Bootstrap"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/angular.svg" skill="Angular"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/nodejs.png" skill="NodeJS"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/rxjs.png" skill="RxJs"></app-skill>
            </div>
          </div>
          <div class="row row-cols-5">
            <div class="col-2 skill">
              <app-skill img="../assets/react-native.png" skill="React Native"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/npm.png" skill="NPM"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/junit5.png" skill="jUnit 5"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/git.png" skill="GIT"></app-skill>
            </div>
            <div class="col-2 skill">
              <app-skill img="../assets/github.svg" skill="GitHub"></app-skill>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-7" style="background-color: #EDE8EA">
      <div class="col skill">
        <app-skill img="../assets/Linux.png" skill="Linux"></app-skill>
      </div>
      <div class="col skill">
        <app-skill img="../assets/tableau.svg" skill="Tableau"></app-skill>
      </div>
      <div class="col skill">
        <app-skill img="../assets/business-analysis.png" skill="Business Analysis"></app-skill>
      </div>
      <div class="col skill-title border">Other</div>
      <div class="col skill">
        <app-skill img="../assets/project-management.svg" skill="Project Management"></app-skill>
      </div>
      <div class="col skill">
        <app-skill img="../assets/jira.svg" skill="JIRA"></app-skill>
      </div>
      <div class="col skill">
        <app-skill img="../assets/confluence.png" skill="Confluence"></app-skill>
      </div>
    </div>
  </div>

</section>


