<section id="education">
  <app-title [title]="title"></app-title>
    <div class="section-content">
      <div class="row row-cols-2">
        <div class="col-6 timeline-node right-line">
          <app-timeline-date  date="OCT 2016"></app-timeline-date>
          <div class="expand-node">
            <app-timeline-node
              [rightAligned]="true"
              [isCourse]="true"
              subject="Higher National Diploma Engineering (HNDE) in Electronics & Telecommunication Engineering"
              duration=" 3 1/2 years" institute="Advanced Technological Institute, Galle, Sri Lanka"
              description="Completed the diploma while gaining the knowledge of electronics, electrical and
              telecommunication engineering with hands on practise. Here I could learn about the technologies and the
              science of electrical, electronics & telecommunication engineering."></app-timeline-node>
          </div>
          <app-timeline-date date="FEB 2013"></app-timeline-date>
        </div>
        <div class="col-6">
          <div class="row row-cols-1">
            <div class="col-12 timeline-node left-line">
              <app-timeline-date [rightAligned]="false" date="JUL 2016"></app-timeline-date>
              <app-timeline-node
                [isCourse]="true"
                subject="Cisco Certified Network Professional Routing & Switching (300-115 SWITCH)"
                duration=" 3 months" institute="Vibernets Solutions (Pvt) Ltd."
                description="Studied 300-115 CCNP SWITCH examination course content along with the
                practical sessions and gained further knowledge of computer networking."></app-timeline-node>
              <app-timeline-date [rightAligned]="false" date="APR 2016"></app-timeline-date>
            </div>

          </div>
          <div class="row row-cols-1">
            <div class="col-12 timeline-node left-line">
              <app-timeline-date [rightAligned]="false" date="MAR 2016"></app-timeline-date>
              <app-timeline-node
                [isCourse]="true"
                subject="Cisco Certified Network Associate (200-120 CCNA)"
                duration=" 3 months" institute="Vibernets Solutions (Pvt) Ltd."
                description="Studied 200-120 CCNA examination course content along with the practical sessions & learned about
                computer networking.">
              </app-timeline-node>
              <app-timeline-date [rightAligned]="false" date="DEC 2015"></app-timeline-date>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col-6 timeline-node right-line">
          <app-timeline-date date="SEP 2012"></app-timeline-date>
          <app-timeline-node
            [rightAligned]="true"
            [isCourse]="true"
            subject="Comprehensive Master Java Developer (CMJD), Associate Java Developer (AJD)"
            duration=" 1 year" institute="Institute of Java Software Engineering (IJSE)"
            description="Learned java programming language, studying JavaSE, OOP, Relational Databases, UML, RMI, SQL &
            developed desktop applications."></app-timeline-node>
          <app-timeline-date date="SEP 2011"></app-timeline-date>
        </div>
        <div class="col-6 timeline-node left-line">
          <app-timeline-date [rightAligned]="false" date="APR 2012"></app-timeline-date>
          <app-timeline-node
            [isCertification]="true"
            subject="Oracle Certified Professional, Java SE 6 Programmer"
            institute="Oracle"></app-timeline-node>
        </div>
      </div>
    </div>
</section>
