@import "~src/variables"

.left-line
  border-left: 4px solid gray

.right-line
  border-right: 4px solid gray

.timeline-node
  padding-top: 10px
  padding-bottom: 10px
  margin-top: auto
  margin-bottom: auto

section
  background-color: $block_color
