<section id="home" class="hero">
  <div class="section-content">

      <div class="say-hi container-fluid">
        <h3 class="hi">Hi...I'm,</h3>
        <h1 class="name">ISHARA</h1>
        <div class="title"></div>
        <p></p>
        <div class="container d-inline-block">
            <button mat-raised-button color="accent" (click)="downloadResume()">Download Resume</button>
        </div>
      </div>
      <div class="effect amiens social">
        <div class="buttons container-fluid d-inline-flex">
          <!--<a href="#" class="fb" title="Join us on Facebook"><fa-icon [icon]="faFacebook"></fa-icon></a>-->
          <a href="https://www.linkedin.com/in/dlisharamadushani/" target="_blank" class="fb" title="Join us on Facebook"><fa-icon [icon]="faLinkedIn"></fa-icon></a>
          <a href="https://github.com/DLIsharaMadushani" target="_blank" class="fb" title="Join us on Facebook"><fa-icon [icon]="faGithub"></fa-icon></a>
        </div>
      </div>
    </div>
</section>
