<section id="about-me">
  <app-title [title]="title"></app-title>
  <div class="section-content">
    <div class="row row-cols-2">
      <div class="col-6">
        <div class="d-flex">
          <p>Hi, I'm Ishara Madushnai. I love to code. I develop in java mostly.
            <br>
            I'm passionate to code anything and build solutions. Solutions includes web applications,
            mobile applications, websites etc.
            <br>
            Refer below for more details of my work.
            <br>
            Ready to code for you.
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="title">Name:&nbsp;</span>
              <span class="details">D. L. Ishara Madushani</span>
            </li>
            <li class="list-group-item">
              <span class="title">Lives In:&nbsp;</span>
              <span class="details">Colombo, Sri Lanka</span>
            </li>
            <li class="list-group-item">
              <span class="title">M:&nbsp;</span>
              <span class="details">+94777338924</span>
            </li>
            <li class="list-group-item">
              <span class="title">E:&nbsp;</span>
              <span class="details">dlisharamadushani02@gmail.com</span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row row-cols-1 d-flex ">

      <div class="col-12 text-center text-light">
        <h3>INTERESTS</h3></div>
    </div>
    <div class="row row-cols-1">

      <div class="col-12 interest">
        <mat-card>Coding</mat-card>
        <mat-card>Books</mat-card>
        <mat-card>Music</mat-card>
        <mat-card>Traveling</mat-card>
        <mat-card>Fashion</mat-card>
        <mat-card>Technology</mat-card>
        <mat-card>Nature</mat-card>
        <mat-card>Art</mat-card>
      </div>

    </div>
  </div>

</section>
