<section id="about-me">
  <app-title [title]="title"></app-title>
  <div class="section-content">
    <div class="row row-cols-2">
      <div class="col-6">
        <div>
          <p><span class="highlight">Hello there...</span>
            <br>
            My name is <span class="highlight">Ishara Madushani</span>.
            <br>
            <span class="highlight">I am a developer. Coding is my passion.</span>
            <br>
            I code to solve. I love to code and build exceptional solutions.
            <br>
            My coding skills include <span class="highlight">Java, PHP, HTML, Javascript, SQL, Typescript</span> & more.
            <br>
            Technologies I use include <span class="highlight">Spring, Hibernate, Angular, Bootstrap</span> & many more.
            </p>
        </div>
        <div class="container-fluid text-center"><h2>What I Do</h2></div>
        <div class="d-inline-flex">

          <mat-card>Web Applications</mat-card>
          <mat-card>Websites</mat-card>
          <mat-card>Mobile Applications</mat-card>
          <mat-card>Desktop Applications</mat-card>
        </div>
        <div class="container-fluid">
          <div class="text-center"><p>Feel free to contact me if you need any of my services.</p></div>
          <div class="d-flex">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="title">M:&nbsp;</span>
              <span class="details">+94777338924</span>
            </li>
            <li class="list-group-item">
              <span class="title">E:&nbsp;</span>
              <span class="details">dlisharamadushani02@gmail.com</span>
            </li>
            <li class="list-group-item">
            </li>

          </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row row-cols-1 container text-center">
          <h2>INTERESTS & HOBBIES</h2>
        </div>
        <div class="row row-cols-3">
          <div class="col-4">
            <app-interest img="../assets/coding.png" interest="Coding"></app-interest>
          </div>
          <div class="col-4">
            <app-interest img="../assets/technology.png" interest="Technology"></app-interest>
          </div>
          <div class="col-4">
            <app-interest img="../assets/reading.jpg" interest="Books"></app-interest>
          </div>
        </div>
        <div class="row row-cols-3">
          <div class="col-4">
            <app-interest img="../assets/music.jpg" interest="Music"></app-interest>
          </div>
          <div class="col-4">
            <app-interest img="../assets/crotche.png" interest="Crocheting"></app-interest>
          </div>
          <div class="col-4">
            <app-interest img="../assets/movie.png" interest="Movies"></app-interest>
          </div>
        </div>
        <div class="row row-cols-2 center">
          <div class="col-4">
            <app-interest img="../assets/nature.png" interest="Nature"></app-interest>
          </div>
          <div class="col-4">
            <app-interest img="../assets/traveling.png" interest="Traveling"></app-interest>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
