.title
  font-size: large
  font-weight: bolder
  color: white
  font-family: Gigi, serif

.details
  font-size: medium
  font-family: Lato, serif
  color: white

span
  display: inline-block

li
  background-color: transparent

ul
  margin: auto

section
  background-color: #fff

h1
  font-size: xxx-large
  font-family: Gadugi, serif
  padding: 10px

p
  font-family: Lato, serif
  padding: 20px

.interest
  display: flex
  margin: auto
  align-items: center
  justify-content: center

mat-card
  margin-left: 15px
  margin-right: 15px
  margin-bottom: 20px
  font-size: small
  font-weight: bold
  font-style: italic
  width: 120px
  text-align: center
  background-color: #f0f4ef

h2
  padding: 5px
