@import "~src/variables"

section
  background-color: $block_white

.form-group


input, textarea, label, button
  font-family: Roboto, serif
  font-size: small


button
  width: 120px
  background-color: #C76B8E
  border: none
  border-radius: 3px
  &:disabled
    background-color: #738290

h2, h4
  font-family: Roboto, serif
  text-align: center

img
  height: 50px
  width: auto
  padding: 10px

.contact
  display: flex inline
  text-align: left
  margin: auto
  font-family: Roboto, serif
  font-size: small
  padding: 10px
  color: #102B3F

.contact-details
  padding-left: 50px
  margin-top: 10px
i
  font-size: 50px
  padding: 5px
  margin: auto

.border
  border: #2B394A 1px solid

.icon
  text-align: center
  margin: auto
  display: flex inline
  color: #227BAA
  justify-content: center

.contact-row
  margin-bottom: 10px
  padding: 5px

p
  margin: auto

.social
  display: flex inline
  justify-content: center
  align-items: flex-end
  text-align: end

.submit
  display: flex inline
  justify-content: flex-end
  align-items: flex-end
  text-align: end
  align-self: flex-end
  margin: 0
  padding: 0

.error
  font-size: smaller
  font-family: Roboto, serif
  color: #D34A6D

.help
  border: #D34A6D ridge
