<section id="contact">
  <app-title [title]="title"></app-title>
  <div class=" section-content">
    <div class="row row-cols-1">
        <h2>Drop me a line. </h2>
      <h4>Simply say <span style="font-style: italic">Hi</span> or ask any question. Also I'm available to freelance.</h4>
      <hr>
    </div>
    <div class="row row-cols-2">
      <div class="col-7">
        <form (ngSubmit)="sendMessage(); contactForm.reset()" #contactForm="ngForm" >
          <div class="row form-row row-cols-2">
            <div class="form-group col-6">
              <label for="inputName">Your Name</label>
              <input type="text" class="form-control" placeholder="Name" id="inputName"
                     [(ngModel)]="name" name="msgSenderName" required="required" #nameInput="ngModel"
                    [class.help]="nameInput.invalid && nameInput.touched">
              <div class="error" *ngIf="nameInput.invalid && nameInput.touched">
                Your name is required
              </div>
            </div>
            <div class="form-group col-6">
              <label for="inputEmail">Your Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                     [(ngModel)]="from" name="msgSenderEmail" #emailInput="ngModel"
                      required="required" email="" [class.help]="emailInput.invalid && emailInput.touched">
              <div class="error" *ngIf="emailInput.invalid && emailInput.touched">
                Your email is required and need to be a valid email.
              </div>
            </div>
          </div>
          <div class="row form-row row-cols-1">
            <div class=" form-group col-12">
              <label for="inputSubject">Subject</label>
              <input type="text" class="form-control" id="inputSubject" placeholder="Subject"
                     [(ngModel)]="subject" name="msgSubject" required="required" #subjectInput="ngModel"
                     [class.help]="subjectInput.invalid && subjectInput.touched">
              <div class="error" *ngIf="subjectInput.invalid && subjectInput.touched">
                Subject can't be empty.
              </div>
            </div>

          </div>
          <div class="row form-row row-cols-1">
            <div class="form-group col-12">
              <label for="textareaMessage">Messsage</label>
              <textarea class="form-control" id="textareaMessage" rows="5"
                        [(ngModel)]="msg" name="msgContent" required="required" #messageInput="ngModel"
                        [class.help]="messageInput.invalid && messageInput.touched"></textarea>
              <div class="error" *ngIf="messageInput.invalid && messageInput.touched">
                Message can't be empty.
              </div>
            </div>

          </div>
          <div class="row submit container ">
            <button type="submit" class="btn btn-primary" id="btnSend" name="submitMessage" id="submitMessage" #submitMessage
            [disabled]="contactForm.invalid">Send</button>
          </div>
        </form>
      </div>
      <div class="col-5 container-fluid contact-details">
        <div class="row row-cols-2 border contact-row">
          <div class="col-2 icon border"><i class="material-icons icon">place</i></div>
            <div class="col-10 contact">
              <p>Batapola Road, Meetiyagoda, Ambalangoda, Sri Lanka</p>
            </div>
        </div>
        <div class="row row-cols-2 border contact-row">
          <div class="col-2 icon border"><i class="material-icons icon">email</i></div>
            <div class="col-10 contact">
              <p>dlisharamadushani02@gmail.com</p>
            </div>
        </div>
        <div class="row row-cols-2 border contact-row">
          <div class="col-2 icon border "><i class="material-icons icon">call</i></div>
            <div class="col-10 contact">
              <p>+94 77 333 8924</p>
            </div>
        </div>
        <div class="row row-cols-1">
          <div class="col social">
            <a href="https://www.linkedin.com/in/dlisharamadushani/" target="_blank"><img src="./assets/linkedin.png" class="card-img-top" alt="..."></a>
            <a href="https://github.com/DLIsharaMadushani" target="_blank"><img src="./assets/github-social.png" class="card-img-top" alt="..."></a></div>
        </div>
      </div>
    </div>
  </div>


</section>

