<section id="rewards">
  <app-title title="Honours & Rewards"></app-title>
  <div class="section-content">
    <div class="row row-cols-3 gx-5">
      <div class="col-4 honors-node left-line">
        <app-timeline-date [rightAligned]="false" date="FEB 2019"></app-timeline-date>
        <div class="">
          <app-timeline-node
            [isHonor]="true"
            subject="DIALOG AWARDS 2018 - PRODUCTOF THE FUTURE"
            institute="Dialog Axiata PLC, Colombo 02, Sri Lanka"
            description="Rewarded with GOLD AWARD for the IoT
Smart Meter Management System."></app-timeline-node>
        </div>
      </div>
      <div class="col-4 honors-node left-line">
        <app-timeline-date [rightAligned]="false" date="FEB 2019"></app-timeline-date>
        <div class="">
          <app-timeline-node
            [isHonor]="true"
            subject="DIALOG - SERVICE FROM HEART"
            institute="Dialog Axiata PLC, Colombo 02, Sri Lanka"
            description="Rewarded for the exceptional effort in
delivering service from the heart to the
customers of Dialog Enterprise."></app-timeline-node>
        </div>
      </div>
      <div class="col-4 honors-node left-line">
        <app-timeline-date [rightAligned]="false" date="FEB 2019"></app-timeline-date>
        <div class="">
          <app-timeline-node
            [isHonor]="true"
            subject="DIALOG ENTERPRISE – BRAVO AWARDS – 2018"
            institute="Dialog Axiata PLC, Colombo 02, Sri Lanka"
            description="Rewarded for outstanding performance
and dedication."></app-timeline-node>
        </div>
      </div>
    </div>
  </div>
</section>
