<section id="portfolio">
  <app-title [title]="title"></app-title>
  <div class="section-content">
    <div class="carousel-container">
      <input type="radio" name="position"  />
      <input type="radio" name="position" checked/>
      <input type="radio" name="position" />
      <div class="carousels" id="carousel">
        <div class="item"><app-work
          projectName="Knowledge Assessment System"
          projectType="Web Application"
          [skills]="['Business Analysis']"
          client="Tertiary and Vocational Education Commission (TVEC)"
          clientAddress="Volunteer Project powered by Information & Communication Technology Agency (ICTA) of Sri Lanka"
          projectDesc="Discussed with the client and the team to gather, analyse the business requirements.
          Requirements are captured and documented as the Business Requirement Document (BRD) including use case diagrams
          on which the project scopes and deliverables are finalized."></app-work></div>
        <div class="item"><app-work
          projectName="Library Management System"
          projectType="Desktop Application"
          [skills]="['JavaSE','MySQL', 'Swing', 'Jasper Reports']"
          client="Public Library Meetiyagoda"
          clientAddress="Batapola Road, Meetiyagoda, Sri Lanka."
          projectDesc="This application is developed for public libraries on which librarian can issue books for the library members.
          Application features:  CRUD members, CRUD books, Issue books, Return books, Generate reports,
          Check book issuing status, View logs. Application is successfully implemented at Public Library, Meetiyagoda."></app-work></div>

        <div class="item"><app-work
          projectName="Concrete Product Store"
          projectType="Web Application, Mobile Application"
          client="Shakthi Concrete Works"
          clientAddress="Silver Garden, Galduwa, Meetiyagoda, Sri Lanka."
          [skills]="['JEE', 'Spring', 'Hibernate', 'Angular', 'Sass', 'TypeScript', 'Layered Architecture', 'OAuth2',
          'JSON', 'Gradle','Git']"
          projectDesc="This web application is developing for a concrete product store on which client can reach the
          customers and update the product portfolios. Customers can inquire, comment and place a order online using application."></app-work></div>
      </div>
    </div>
  </div>
</section>
